PORT=5000
HOST_PORT=5001
HOST_PORT_DEV=5002
FRONTEND_BASE_URL=http://localhost:3000
DB_TARGET=local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=tylt_feedback
DB_URL=mysql://user:password@host:port/database
DB_CONNECTION_LIMIT=10
